body {
    background: rgb(255,239,186);
    background: linear-gradient(90deg, rgba(255,239,186,1) 41%, rgba(199,199,199,1) 94%);
    font-family: 'Happy Monkey', cursive;
}


/* Footer */

footer {
    border-top: 1px solid rgb(138, 135, 135);
    padding: 1rem;
  }
  
  footer span {
    text-align: center;
    width: 100%;
    display: block;
    color: black
  }